<!DOCTYPE html>
<html>
<head>
  <title>Post-It</title>
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" href="/public/images/favcon.png">
</head>
<body>
  <div >
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
                <li class = "displayUsers">
                  <ul class = "you">
                    <li><img class = "profilePic" src={{user.picture}}  /> </li>
                    <li class = "yourName">{{user.username}}</li>
                  </ul>
                             
                  <ul class = "otherUsers">
                    <li><img class = "profilePic" src={{user.picture}}  /> </li>
                    <li class = "yourName">{{user.username}}</li>
                  </ul>

                  <ul class = "otherUsers">
                    <li><img class = "profilePic" src={{user.picture}}  /> </li>
                    <li class = "yourName">{{user.username}}</li>
                  </ul>

                  <ul class = "otherUsers">
                    <li><img class = "profilePic" src={{user.picture}}  /> </li>
                    <li class = "yourName">{{user.username}}</li>
                  </ul>
                </li>

                <li role="presentation"><a href="/">Dashboard</a></li>
                <li role="presentation"><a href="/users/logout">Logout</a></li>

            {{else}}
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            {{/if}}

          </ul>
         
          <img src="/images/logo.png" class="logo">
        </nav>
        <!--  <h3 class="text-muted">Post-It</h3>
        -->
        
        <!--{{#if user}}
            <h3 class="text-muted" class="onlineUsers">Online Users:</h3>
        {{else}}
            <h3 class="text-muted" >LoginApp</h3>
        {{/if}}-->
      </div>


      <div class="row">
        <div class="col-lg-12">
          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          
          {{{body}}}
        </div>

        
      </div>

      <footer class="footer" >
        <p>&copy; 2017 Post-It, Inc.</p>
      </footer>

    </div> <!-- /container -->
    <script src="js/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/jquery.min.js" ></script>

</body>
</html>
